<h1>REGISTRO DE USUARIO</h1>

<form action="/api/users/create" method="post">
  Nombre:
  <input type="text" name="nombre" id="nombre" />
  Apellido:
  <input type="text" name="apellido" id="apellido" />
  Email:
  <input type="email" name="email" id="email" />

  Password:
  <input type="password" name="password" id="password" />
  <input type="submit" value="CREAR USUARIO" />
</form>